body{
    background-color: black;
    color: white;
    font-family: 'Courgette', sans-serif;
}

.container-fluid{
    margin-top: 20px;
}
.head-db {
    background-color: captiontext;
    color: #818181;
    padding: 10px;
}
.head-db h2 {
    text-align: center;
}
.head-db h3 {
    text-align: center;
}

.head-db p {
    text-align: center;
    color: #ffffff63;
    background-color: #343a406b;
}
.head-db strong {
    text-align: center;
    color: #d7a308;
}

.side-menu{
    border: 1px solid #040b51;
    margin-right: 10px;
    margin-left: 10px;
    height: 250px;
}

.side-menu .tablink {
    margin-top: 10px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #0056b3;
    display: block;
    width: 100%;
    background-color: black;
    border: 0;
    height: 50px;
} 

.content {
    border: 1px solid #040b51;
}

/* table */

table  {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    background-color: white;
    font-family: 'Courgette', sans-serif;
    font-size: 16px;
    overflow: scroll;
}

.show-table {
    border: 1px solid #040b51;
    padding-top: 10px;
    background-color: #343a406b;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content h3 {
    margin-top: 10px;
    color: white;
    text-align: center;
    font-family:  'Courgette', sans-serif;
}

.show-table thead tr {
    background-color: black;
    color: #ffffff;
    text-align: left;
}

.show-table th,
.show-table td {
    padding: 12px 15px;
    border: 1px solid #040b51;
}

.show-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.show-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.show-table tbody tr:last-of-type {
    border-bottom: 2px solid white;
}

.show-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* form */

.inline-form {
    width: 30%;
    margin: auto;
}

.form-item {
    padding: 20px;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    height: 45px;
}

input[type=date], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    height: 45px;
}

.inline-form h4 {
    text-align: center;
    color: white;
    font-family: 'Courgette';
}

.inline-form button{
    background-color: #0056b3;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    height: 45px;
}

.inline-form button:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: white;
}


.col-40 {
    float: left;
    width: 40%;
    margin-top: 6px;
}

.col-30 {
    float: left;
    width: 30%;
    margin-top: 6px;
}

.col-60 {
    float: left;
    width: 60%;
    margin-top: 6px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    margin-right: 15px;
    height: 45px;
}

.form-item:after {
    content: "";
    display: table;
    clear: both;
}

#show-reservation-inperiod {
    width: 70%;
}

#reservation-table-inperiod{
    display: block;
}

#userInfo {
    display: block;
}

#customers {
    display: none;
}

.content {
    display: none;
    margin-bottom: 30px;
}


.textBox {
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    padding-bottom: 60px;
    margin-bottom: 40px; 
}



#rate {
    color: gray;
}

.textBox p {
    margin: 20px;
}

.textBox strong {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 0;
    padding-left: 34px;
    padding-right: 36px;
    text-transform: uppercase;
    border: 2px solid #AE954B;
    position: relative;
    float: right;
    margin-right: 10px;
}
.form-x h4 {
    text-align: center;
    margin-top: 10px;
}
.form-x form{
    border: 1px solid #040b51;
    background-color: #343a406b;
    margin: 20px auto 20px auto;
    width: 100%;
}

.form-label{
    display: block;
    width: 75%;
    height: 49px;
    padding: .375rem .75rem;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    color: #0056b3;
    background-clip: padding-box;
    float: left;
    padding-right: -20px;
    margin-left: 50px;
}

.form-input {
    background-color: white;
    border: 1px solid #160e30;
    height: 45px;
}

.form-x button {
    background-color: #0056b3;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    height: 45px;
}
